.textCenter {
  text-align: center;
}

.iconfont,
.layui-icon {
  margin-right: 10px;
}

.layui-icon {
  margin-left: 15px;
}

.layui-body {
  overflow: hidden;
}

.textAvatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: none;
}

iframe {
  background-color: rgba(242, 243, 245);
}
